@media screen and (max-width: 1280px) {

	.header__logo-text,
	.header__link,
	.header__item,
	.header__button,
	.header__submit,
	.preview__text,
	.searh-form__text,
	.searh-form__submit,
	.steps__text,
	.destination__country-text,
	.destinations__submit,
	.stories__submit {
		font-size: 0.9em;
	}

	.steps__title,
	.destinations__titile,
	.stories__title {
		font-size: 1.8em;
	}

	.preview__title {
		font-size: 3.6em;
	}


	.wraper {
		padding: 0px 20px;
	}

	.header__wraper {
		display: flex;
		justify-content: space-around;
	}

	.header__list {
		gap: 20px;
	}

	.header__logo {
		margin: 0px;
	}

	.header__nav {
		margin: 0px;
	}

	.header__item {
		text-align: center;
	}


	.search-form__wraper {
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.searh-form__text {
		width: 300px;
	}

	.steps__title {
		margin: 0 auto;
	}

	.steps__text {
		text-align: center;
	}

	.steps__boxes {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.destination__country-1 {
		position: relative;
		max-width: 50vw;
		max-height: 50vw;
		background-size: cover;
	}

	.destination__country-2 {
		position: relative;
		max-width: 50vw;
		max-height: 50vw;
		background-size: cover;
	}

	.destination__country-3 {
		position: relative;
		max-width: 50vw;
		max-height: 50vw;
		background-size: cover;
	}

	.destination__country-text {
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.steps__box-central {
		margin: 0px;
	}

	.stories {
		min-height: 1410px;
	}

	.stories__background {
		min-height: 1350px;
	}

	.stories__wraper {
		display: flex;
		flex-direction: column;
		align-items: center;
		bottom: 7vw;
	}


	.stories__boxes {
		justify-content: center;
		align-items: space-around;
		margin-bottom: 9vw;
		gap: 5vw;

	}

	.stories__box {
		justify-content: space-around;
	}

	.stories__box-info {
		justify-content: flex-start;
	}

	.stories__box-img {
		max-width: 35vw;
		max-height: 22vw;

	}

	.stories__box-title {
		width: 50vw;
		height: 20vw;
	}

	.stories__box-text {
		width: 50vw;
		height: 40vw;
	}

	.stories__box-title {
		font-size: 1.8em;
	}

	.stories__box-text {
		font-size: 0.9em;
	}

	.footer {
		left: 30vw;
	}

	.footer__wraper {
		gap: 10vw;
	}
}

@media screen and (max-width: 1024px) {

	.header__logo-text,
	.header__link,
	.header__item,
	.header__button,
	.header__submit,
	.preview__text,
	.searh-form__text,
	.searh-form__submit,
	.steps__text,
	.destination__country-text,
	.destinations__submit,
	.stories__submit {
		font-size: 0.9em;
	}

	.steps__title,
	.destinations__titile,
	.stories__title {
		font-size: 1.8em;
	}

	.preview__title {
		font-size: 3.6em;
	}


	.wraper {
		padding: 0px 20px;
	}

	.header__wraper {
		display: flex;
		justify-content: space-around;
	}

	.header__list {
		gap: 20px;
	}

	.header__logo {
		margin: 0px;
	}

	.header__nav {
		margin: 0px;
	}

	.header__item {
		text-align: center;
	}


	.search-form__wraper {
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.searh-form__text {
		width: 300px;
	}

	.steps__title {
		margin: 0 auto;
	}

	.steps__text {
		text-align: center;
	}

	.steps__boxes {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.destination__country-1 {
		position: relative;
		max-width: 50vw;
		max-height: 50vw;
		background-size: cover;
	}

	.destination__country-2 {
		position: relative;
		max-width: 50vw;
		max-height: 50vw;
		background-size: cover;
	}

	.destination__country-3 {
		position: relative;
		max-width: 50vw;
		max-height: 50vw;
		background-size: cover;
	}

	.destination__country-text {
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.steps__box-central {
		margin: 0px;
	}

	.stories__wraper {
		display: flex;
		flex-direction: column;
		align-items: center;
		bottom: 5vw;
	}

	.stories {
		min-height: 1430px;
	}

	.stories__background {
		min-height: 1370px;
	}


	.stories__boxes {
		justify-content: center;
		align-items: space-around;
		margin-bottom: 11vw;
		gap: 7vw;

	}

	.stories__box {
		justify-content: space-around;
	}

	.stories__box-info {
		justify-content: flex-start;
	}

	.stories__box-img {
		max-width: 35vw;
		max-height: 22vw;

	}

	.stories__box-title {
		width: 50vw;
		height: 10vw;
	}

	.stories__box-text {
		width: 50vw;
		height: 40vw;
	}

	.stories__box-title {
		font-size: 1.0em;
	}

	.stories__box-text {
		font-size: 0.7em;
	}

	.stories__submit {
		padding: 0px;
	}

	.footer {
		left: 30vw;
	}

	.footer__wraper {
		gap: 10vw;
	}
}








@media screen and (max-width: 768px) {

	.header__logo-text,
	.header__link,
	.header__item,
	.header__button,
	.header__submit,
	.preview__text,
	.searh-form__text,
	.searh-form__submit,
	.steps__text,
	.destination__country-text,
	.destinations__submit,
	.stories__submit {
		font-size: 0.8em;
	}

	.steps__title,
	.destinations__titile,
	.stories__title {
		font-size: 1.6em;
	}

	.preview__title {
		font-size: 2.4em;
	}


	.wraper {
		padding: 0px 20px;
	}

	.header__wraper {
		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 20px;
	}

	.header__list {
		gap: 10px;
	}

	.header__logo {
		margin: 0px;
	}


	.header__nav {
		margin: 0px;
	}

	.header__item {
		text-align: center;
	}


	.search-form__wraper {
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-end;
		padding: 7vw;
	}

	.searh-form__text {
		width: 300px;
	}

	.steps__wraper {
		justify-content: space-between;
		min-height: 40vw;
	}

	.steps__title {
		margin: 0 auto;
		text-align: center;
	}

	.steps__text {
		text-align: center;
	}

	.steps__boxes {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.destinations__titile {
		text-align: center;
	}

	.destination__country-1 {
		position: relative;
		max-width: 50vw;
		max-height: 50vw;
		background-size: cover;
	}

	.destination__country-2 {
		position: relative;
		max-width: 50vw;
		max-height: 50vw;
		background-size: cover;
	}

	.destination__country-3 {
		position: relative;
		max-width: 50vw;
		max-height: 50vw;
		background-size: cover;
	}

	.destination__country-text {
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.steps__box-central {
		margin: 0px;
	}

	.stories__wraper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		bottom: 5vw;
	}

	.stories {
		min-height: 1430px;
	}

	.stories__background {
		min-height: 1370px;
	}



	.stories__boxes {
		justify-content: center;
		align-items: space-around;
		margin-bottom: 15vw;
		gap: 10vw;


	}

	.stories__box {
		justify-content: space-around;
		gap: 3vw;
	}

	.stories__box-info {
		justify-content: flex-start;
	}

	.stories__box-img {
		max-width: 35vw;
		max-height: 22vw;

	}

	.stories__box-title {
		width: 60vw;
		height: 10vw;
	}

	.stories__box-text {
		width: 60vw;
		height: 40vw;
	}

	.stories__box-title {
		font-size: 0.9em;
	}

	.stories__box-text {
		font-size: 0.6em;
	}

	.stories__submit {
		padding: 0px;
	}

	.footer {
		left: 20vw;
	}
	.footer__wraper {
		gap: 2vw;
	}
	.footer__icons {
		gap: 1vw;
	}
}

@media screen and (max-width: 480px) {

	.header__logo-text,
	.header__link,
	.header__item,
	.header__button,
	.header__submit,
	.preview__text,
	.searh-form__text,
	.searh-form__submit,
	.steps__text,
	.destination__country-text,
	.destinations__submit,
	.stories__submit {
		font-size: 0.7em;
	}

	.steps__title,
	.destinations__titile,
	.stories__title {
		font-size: 1.4em;
		text-align: center;
	}

	.preview__title {
		font-size: 2.4em;
	}


	.wraper {
		padding: 0px 20px;
	}

	.header__wraper {
		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 20px;
	}

	.header__list {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		margin: 0px;
		gap: 0px;
	}

	.header__logo {
		margin: 0px;
	}

	.header__logo-text {
		line-height: 20px;
	}

	.header__nav {
		margin: 0px;
	}

	.header__item {
		text-align: center;
	}


	.search-form__wraper {
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-end;
		padding: 7vw;
		min-width: 300px;
	}

	.searh-form__text {
		width: 300px;
		margin: 0px;
	}

	.steps__wraper {
		justify-content: space-between;
		min-height: 70vw;
	}

	.steps__title {
		margin: 0 auto;
		text-align: center;
	}

	.steps__text {
		text-align: center;
	}

	.steps__boxes {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.steps__box {
		width: 140px;
	}

	.destinations__titile {
		text-align: center;
	}

	.destination__country-1 {
		position: relative;
		max-width: 50vw;
		max-height: 50vw;
		background-size: cover;
	}

	.destination__country-2 {
		position: relative;
		max-width: 50vw;
		max-height: 50vw;
		background-size: cover;
	}

	.destination__country-3 {
		position: relative;
		max-width: 50vw;
		max-height: 50vw;
		background-size: cover;
	}

	.destination__country-text {
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.steps__box-central {
		margin: 0px;
	}

	.stories__wraper {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		bottom: 5vw;
	}

	.stories {
		min-height: 1440px;
	}

	.stories__background {
		min-height: 1380px;
	}

	.stories__title {
		margin-bottom: 80px;
	}

	.stories__boxes {
		justify-content: center;
		align-items: space-between;
		margin-bottom: 40vw;
		gap: 20vw;


	}

	.stories__box {
		justify-content: space-around;
	}

	.stories__box-info {
		justify-content: flex-start;

	}

	.stories__box-img {
		max-width: 35vw;
		max-height: 22vw;

	}

	.stories__box-title {
		width: 60vw;
		height: 10vw;
	}

	.stories__box-text {
		width: 60vw;
		height: 40vw;
	}

	.stories__box-title {
		font-size: 0.7em;
	}

	.stories__box-text {
		font-size: 0.5em;
	}

	.stories__submit {
		padding: 0px;
	}

	.footer {
		left: 10vw;
	}


	.footer__text {
		font-size: 12px;
		width: auto;
	}
}


@media screen and (max-width: 390px) {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		position: relative;
		max-width: 390px;
		max-height: 1475px;
		margin: 0 auto;
		overflow: hidden;
		border-radius: 30px;
		background: #FFFFFF;
	}
	
	.wraper {
		max-width: 360px;
		margin: 0 auto;
		padding: 0px;
	}
	
	
	/* header */
	header {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 90px;
		background: rgba(242, 120, 92, 0.7);
		box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
	}
	
	
	
	.header__wraper {
		display: flex;
		align-items: center;
		height: 90px;
	}
	
	
	.header__logo {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 6px;
		margin-right: 158px;
		width: 216px;
		padding-top: -16px;
	}
	
	.header__logo-text {
		font-family: 'Magra';
		font-style: normal;
		font-weight: 600;
		font-size: 32px;
		line-height: 39px;
		color: #FFFFFF;
		margin: 0;
	}
	
	.header__nav {
		width: 527px;
		margin-right: 196px;
	}
	
	.header__list {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		gap: 42px;
		list-style-type: none;
		padding: 0;
	}
	
	.header__link {
		font-family: 'Red Hat Text';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 21px;
		color: #FFFFFF;
		text-decoration: none;
	}
	
	.header__link:hover {
		filter: drop-shadow(0px 4px 4px #0D606F);
	}
	
	
	.header__submit {
		padding: 10px 30px;
		width: 103px;
		height: 41px;
		background: #0D606F;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
		border-radius: 10px;
		font-family: 'Red Hat Text';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 21px;
		color: #FFFFFF;
		border: 0;
	}
	
	.header__submit:hover {
		filter: drop-shadow(0px 4px 4px #0D606F);
	}
	
	
	/* section preview */
	.preview {
		min-width: 390px;
		min-height: 251px;
		background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 25.1%), url(../img/jpg/mobile/mountain_mobi.jpg) no-repeat center;
		background-size: cover;
		margin-bottom: 20px;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	}
	
	.preview__wrapper {
		max-width: 360px;
		min-height: 48px;
		padding-top: 142px;
		
	}
	
	.preview__title {
		display: none;
	}
	
	.preview__text {
		display: none;
	}
	
	.search-form__wraper {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		align-items: center;
		padding: 0;
		margin: 0;
		border: 0;
		max-width: 360px;
		max-height: 48px;
		background: rgba(255, 255, 255, 0.7);
		border-radius: 16px;
	}
	
	
	.searh-form__text {
		max-width: 226.01px;
		height: 11.12px;
		padding: 0;
		border: 0;
		margin: 0;
		background-color: transparent;
		margin-left: 16.55px;

	}
	
	.searh-form__text::placeholder {
		font-family: 'Aleo';
		font-style: italic;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #F2785C;
	}
	
	.searh-form__submit {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 10px 32px;
		gap: 10px;
		max-width: 92px;
		height: 30px;
		background: #0D606F;
		box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
		border-radius: 10px;
		font-family: 'Red Hat Text';
		font-style: normal;
		font-weight: 500;
		font-size: 11px;
		line-height: 15px;
		color: #FFFFFF;
		padding: 0;
		margin-right: 9px;
	}
	
	.searh-form__submit:hover {
		filter: drop-shadow(0px 4px 4px #0D606F);
	}
	
	/* section steps */
	.steps__wraper {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		gap: 21px;
		max-width: 360px;
		height: 153px;
		min-height: 153px;
		margin-bottom: 20px;
	}
	
	.steps__title {
		width: 214px;
		height: 19px;
		font-family: 'Red Hat Text';
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 19px;
		color: #F2785C;
		
	}
	
	.steps__boxes {
		height: 114px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	
	.steps__box {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 114px;
	}

	.steps__box-1 {
		align-items: flex-start;
	}

	.steps__text-1 {
		text-align: left;
		width: 79px;
	}
	.steps__box-3 {
		align-items: flex-end;
	}

	.steps__text-3 {
		text-align: right;
		width: 100px;
	}

	.steps__text-2 {
		text-align: start;
		height: 24px;
	}
	
	.steps__box-central {
		margin: 0px;
	}
	
	.steps__text {
		padding: 0;
		margin: 0;
		font-family: 'Aleo';
		font-style: normal;
		font-weight: 400;
		font-size: 10px;
		line-height: 12px;
		color: #0D606F;
	}
	
	.steps__img {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 70px;
		height: 70px;
		background: url(../img/jpg/mobile/ico_mobi.jpg);
	}

	.steps__ico {
		width: 37px;
		height: 37px;
	}
	
	/* section destinations */
	.destinations__wraper {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 170px;
	}
	
	.destinations__titile {
		max-width: 501px;
		height: 53px;
		font-family: 'Red Hat Text';
		font-style: normal;
		font-weight: 500;
		font-size: 40px;
		line-height: 53px;
		color: #F2785C;
		margin: 19px 0px 45px 0px;
	}
	
	.destinations__countrys {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		gap: 60px;
		padding: 0px;
	
	}
	
	.destination__country-1 {
		width: 800px;
		height: 800px;
		border-radius: 16px;
		background: url(../img/jpg/sea.jpg);
	}
	
	.destination__country-2 {
		width: 800px;
		height: 800px;
		border-radius: 16px;
		background: url(../img/jpg/gate.jpg);
	}
	
	.destination__country-3 {
		width: 800px;
		height: 800px;
		border-radius: 16px;
		background: url(../img/jpg/bridge.jpg);
	}
	
	
	
	.destination__country-text {
		width: 95px;
		height: 42px;
		font-family: 'Red Hat Text';
		font-style: normal;
		font-weight: 500;
		font-size: 32px;
		line-height: 42px;
		color: #FFFFFF;
		margin: 718px 677px 40px 15px;
	}
	
	.destinations__scroll {
		width: 80px;
		height: 20px;
		margin: 24px 680px 40px 680px;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		padding: 0px;
		gap: 10px;
	}
	
	
	
	.destinations__submit {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 10px 32px;
		gap: 10px;
		width: 228px;
		height: 59px;
		padding: 0px;
		background: #0D606F;
		box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
		border-radius: 10px;
		border: 0px;
		font-family: 'Red Hat Text';
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 32px;
		color: #FFFFFF;
	}
	
	.destinations__submit:hover {
		filter: drop-shadow(0px 4px 4px #0D606F);
	}
	
	/* section stories */
	.stories {
		width: 100%;
		height: 1331px;
		background: url(../img/jpg/boat.jpg) no-repeat, center;
		background-size: cover;
	}
	
	.stories__background {
		width: 100%;
		height: 1270px;
		background: rgba(255, 255, 255, 0.7);
	}
	
	.stories__wraper {
		position: relative;
		bottom: 91px;
		left: 0px;
		width: 100%;
		height: 1322px;
	}
	
	.stories__title {
		width: 335px;
		height: 53px;
		margin: 0 auto;
		margin-bottom: 80px;
		font-family: 'Red Hat Text';
		font-style: normal;
		font-weight: 500;
		font-size: 40px;
		line-height: 53px;
		color: #F2785C;
	}
	
	.stories__boxes {
		width: 100%;
		height: 1090px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
		margin-bottom: 40px;
	}
	
	
	.stories__box {
		width: 100%;
		height: 250px;
		display: flex;
		justify-content: space-between;
	}
	
	.stories__box-img {
		width: 400px;
		height: 250px;
		border-radius: 16px;
		filter: drop-shadow(0px 4px 4px #0D606F);
	
	}
	
	.stories__box-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
	
	.stories__box-title {
		width: 760px;
		height: 42px;
		margin: 0px;
		font-family: 'Aleo';
		font-style: normal;
		font-weight: 400;
		font-size: 35px;
		line-height: 42px;
		color: #0D606F;
	}
	
	
	.stories__box-text {
		width: 760px;
		height: 184px;
		margin: 0 auto;
		font-family: 'Aleo';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		color: #0D606F;
	}
	
	
	.stories__submit {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		padding: 10px 32px;
		gap: 10px;
		width: 228px;
		height: 59px;
		background: #0D606F;
		box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
		border-radius: 10px;
		border: 0px;
		font-family: 'Red Hat Text';
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 32px;
		color: #FFFFFF;
	}
	
	.stories__submit:hover {
		filter: drop-shadow(0px 4px 4px #0D606F);
	}
	
	/* footer */
	.footer {
		position: absolute;
		bottom: 0px;
		left: 41%;
		width: 100%;
		height: 45px;
	}
	
	.footer__wraper {
		width: 728.96px;
		height: 33.65px;
		display: flex;
		align-items: center;
		gap: 45%;
	
	}
	
	.footer__icons {
		width: 140.96px;
		height: 33.65px;
		display: flex;
		gap: 20px;
		padding: 0px;
		list-style-type: none;
	}
	
	.footer__icon {
		width: 33.65px;
		height: 33.65px;
	}
	
	.footer__icon:hover {
		filter: drop-shadow(0px 4px 4px #0D606F);
	}
	
	.footer__text {
		width: 260px;
		height: 21px;
		font-family: 'Red Hat Text';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 21px;
		color: #FFFFFF;
	}
}

@media screen and (max-width: 320px) {}