/* red-hat-text-regular - latin */
@font-face {
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url('../fonts/red-hat-text-v11-latin-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/red-hat-text-v11-latin-regular.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-text-500 - latin */
@font-face {
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	src: local(''),
		url('../fonts/red-hat-text-v11-latin-500.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/red-hat-text-v11-latin-500.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-regular - latin */
@font-face {
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url('../fonts/aleo-v11-latin-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/aleo-v11-latin-regular.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-italic - latin */
@font-face {
	font-family: 'Aleo';
	font-style: italic;
	font-weight: 400;
	src: local(''),
		url('../fonts/aleo-v11-latin-italic.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/aleo-v11-latin-italic.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-700 - latin */
@font-face {
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		url('../fonts/aleo-v11-latin-700.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/aleo-v11-latin-700.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-700italic - latin */
@font-face {
	font-family: 'Aleo';
	font-style: italic;
	font-weight: 700;
	src: local(''),
		url('../fonts/aleo-v11-latin-700italic.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/aleo-v11-latin-700italic.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* magra-700 - latin */
@font-face {
	font-family: 'Magra';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		url('../fonts/magra-v14-latin-700.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/magra-v14-latin-700.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}



body {
	font-family: 'Aleo';
	font-style: normal;
	font-size: 20px;
	font-weight: normal;
	line-height: 24px;
	color: #0D606F;
}

.wraper {
	max-width: 1200px;
	margin: 0 auto;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(242, 120, 92, 0.7);
	box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}


.header__wraper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 90px;
}


.header__logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 6px;
	margin-right: 158px;
	width: 216px;
	padding-top: -16px;
}

.header__logo-text {
	font-family: 'Magra';
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 39px;
	color: #FFFFFF;
	margin: 0;
}

.header__nav {
	width: 527px;
	margin-right: 196px;
}

.header__list {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 42px;
	list-style-type: none;
	padding: 0;
}

.header__link {
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #FFFFFF;
	text-decoration: none;
}


.login-button__submit {
	padding: 10px 30px;
	width: 103px;
	height: 41px;
	background: #0D606F;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
	border-radius: 10px;
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #FFFFFF;
	border: 0;
}


.preview {
	min-height: 765px;
	background: url(../img/jpg/garrett-parker-DlkF4-dbCOU-unsplash\ 1.jpg) no-repeat center;
	background-size: cover;
	padding-top: 122px;
}

.preview__wrapper {
	max-width: 892px;
	min-height: 422px;
}

.preview__title {
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 700;
	font-size: 80px;
	line-height: 96px;
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 32px;
}

.preview__text {
	font-family: 'Aleo';
	font-style: italic;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	margin-bottom: 46px;
}

.search-form__wraper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: 0;
	border: 0;
	width: 892px;
	height: 95px;
	background: rgba(255, 255, 255, 0.7);
	border: 1px solid #000000;
	border-radius: 16px;
}


.searh-form__text {
	width: 560px;
	height: 22px;
	padding: 0;
	border: 0;
	margin: 0 0 0 41px;
	background-color: transparent;
	gap: 45px;
}

.searh-form__text::placeholder {
	font-family: 'Aleo';
	font-style: italic;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #F2785C;
}

.searh-form__submit {
	width: 228px;
	height: 59px;
	padding: 0;
	margin: 0 18px 0 0;
	border: 0;
	background: #0D606F;
	border: 1px solid #000000;
	box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
	border-radius: 10px;
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
	color: #FFFFFF;
}