/* fonts */
/* red-hat-text-regular - latin */
@font-face {
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url('../fonts/red-hat-text-v11-latin-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/red-hat-text-v11-latin-regular.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-text-500 - latin */
@font-face {
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	src: local(''),
		url('../fonts/red-hat-text-v11-latin-500.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/red-hat-text-v11-latin-500.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-regular - latin */
@font-face {
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url('../fonts/aleo-v11-latin-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/aleo-v11-latin-regular.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-italic - latin */
@font-face {
	font-family: 'Aleo';
	font-style: italic;
	font-weight: 400;
	src: local(''),
		url('../fonts/aleo-v11-latin-italic.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/aleo-v11-latin-italic.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-700 - latin */
@font-face {
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		url('../fonts/aleo-v11-latin-700.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/aleo-v11-latin-700.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* aleo-700italic - latin */
@font-face {
	font-family: 'Aleo';
	font-style: italic;
	font-weight: 700;
	src: local(''),
		url('../fonts/aleo-v11-latin-700italic.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/aleo-v11-latin-700italic.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* magra-700 - latin */
@font-face {
	font-family: 'Magra';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		url('../fonts/magra-v14-latin-700.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/magra-v14-latin-700.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'Aleo';
	font-style: normal;
	font-size: 20px;
	font-weight: normal;
	line-height: 24px;
	color: #0D606F;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
	max-width: 1440px;
	max-height: 3735px;
	margin: 0 auto;
	overflow: hidden;
	background: #FFFFFF;
}


.pop-up {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(20, 20, 20, 0.25);
	z-index: 2;

}

.hidden {
	visibility: hidden;
	transition: .4s all ease-out;
}

.pop-up__content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	top: 1.8%;
	left: 3%;
	width: 650px;
	height: 660px;
	background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
	transform: translateY(-120%);
	transition: .4s all ease-out;
}

.add_heigth {
	height: 436px
}
.pop-up__content-on {
	transform: translateY(2%);
}
.pop-up__wraper {
	max-width: 560px;
}
.pop-up__title {
	width: 100%;
	height: 38px;
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 38px;
	color: #0D606F;
	margin: 0px;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 30px;
}

.pop-up__facebook-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 15px;
	gap: 15px;
	width: 560px;
	height: 56px;
	background: #1877F2;
	box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
	border-radius: 10px;
	margin-bottom: 20px;
}



.pop-up__fecebook-text {
	width: 194px;
	height: 26px;
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	color: #FFFFFF;

}

.pop-up__google-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 15px;
	gap: 15px;
	width: 560px;
	height: 56px;
	background: #FFFFFF;
	box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
	border-radius: 10px;
	margin-bottom: 30px;
}

.pop-up__google-text {
	width: 174px;
	height: 26px;
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	color: #0D606F;
}

.pop-up__line1 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 560px;
	height: 24px;
	margin-bottom: 10px;
}
.pop-up__lineInner {
	width: 261px;
	height: 0px;
	border: 1px solid rgba(13, 96, 111, 0.5);
}
.pop-up__line1-text {
	width: 20px;
	height: 24px;
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: rgba(13, 96, 111, 0.5);
	margin: 0px;
	
}

.pop-up__input-text {
	height: 19px;
	width: 560px;
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #0D606F;
	margin: 0px;
	text-align: start;
	margin-bottom: 5px;
}

.pop-up__input-email {
	width: 560px;
	height: 54px;
	left: 45px;
	top: 313px;
	background: #FFFFFF;
	box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
	border-radius: 10px;
	border: 0px;
	margin-bottom: 20px;
}

.pop-up__input-password {
	width: 560px;
	height: 54px;
	left: 45px;
	top: 313px;
	background: #FFFFFF;
	box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
	border-radius: 10px;
	border: 0px;
	margin-bottom: 25px;
}

.pop-up__signin {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 229px;
	gap: 10px;
	width: 560px;
	height: 54px;
	background: #0D606F;
	box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
	border-radius: 10px;
	border: 0px;
	margin-bottom: 10px;
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	color: #FFFFFF;
}

.pop-up__signin:hover {
	filter: drop-shadow(0px 4px 4px #0D606F);
}

.pop-up__forgot-text {
	width: 100%;
	height: 18px;
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	text-decoration-line: underline;
	color: #0D606F;
	text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
	text-align: center;
	margin: 0px 0px 24px 0px;
}
.add_margin {
	margin: 0px 0px 22px 0px;
}

.pop-up__line2 {
	width: 560px;
	height: 0px;
	border: 1px solid rgba(13, 96, 111, 0.5);
	transform: rotate(0.1deg);
	margin-bottom: 20px;
}


.pop-up__footer {
	display: flex;
	justify-content: center;
}
.pop-up__register {
	border:none; 
	padding:0; 
	margin:0; 
	background-color:transparent; 
}

.pop-up__register:hover {
	filter: drop-shadow(0px 4px 4px #0D606F);
}

.pop-up__register-text {
	padding:0; 
	margin:0; 
}

.pop-up__footer-promt {
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	color: rgba(13, 96, 111, 0.5);
	text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
	margin: 0px;

}
.pop-up__footer-register {
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	text-decoration-line: underline;
	color: #0D606F;
	text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
	margin: 0px;
}

.off {
	display: none;
}



.wraper {
	max-width: 1200px;
	margin: 0 auto;
}


/* header */
header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 90px;
	background: rgba(242, 120, 92, 0.7);
	box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}



.header__wraper {
	display: flex;
	align-items: center;
	height: 90px;
}


.header__logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 6px;
	margin-right: 158px;
	width: 216px;
	padding-top: -16px;
}

.header__logo-text {
	font-family: 'Magra';
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 39px;
	color: #FFFFFF;
	margin: 0;
}

.header__nav {
	width: 527px;
	margin-right: 196px;
}

.header__list {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 42px;
	list-style-type: none;
	padding: 0;
}

.header__link {
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #FFFFFF;
	text-decoration: none;
}

.header__link:hover {
	filter: drop-shadow(0px 4px 4px #0D606F);
}


.header__submit {
	padding: 10px 30px;
	width: 103px;
	height: 41px;
	background: #0D606F;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
	border-radius: 10px;
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #FFFFFF;
	border: 0;
}

.header__submit:hover {
	filter: drop-shadow(0px 4px 4px #0D606F);
}


/* section preview */
.preview {
	min-height: 765px;
	background: url(../img/jpg/mountain.jpg) no-repeat center;
	background-size: cover;
	margin-bottom: 80px;
}

.preview__wrapper {
	max-width: 892px;
	min-height: 422px;
	padding-top: 120px;
}

.preview__title {
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 700;
	font-size: 80px;
	line-height: 96px;
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 32px;
}

.preview__text {
	font-family: 'Aleo';
	font-style: italic;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	margin-bottom: 46px;
}

.search-form__wraper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 45px;
	padding: 0;
	margin: 0;
	border: 0;
	max-width: 892px;
	height: 95px;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 16px;
}


.searh-form__text {
	width: 560px;
	height: 22px;
	padding: 0;
	border: 0;
	margin: 0 0 0 41px;
	background-color: transparent;
	gap: 45px;
}

.searh-form__text::placeholder {
	font-family: 'Aleo';
	font-style: italic;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #F2785C;
}

.searh-form__submit {
	width: 228px;
	height: 59px;
	padding: 0;
	margin: 0 18px 0 0;
	border: 0;
	background: #0D606F;
	box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
	border-radius: 10px;
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
	color: #FFFFFF;
}

.searh-form__submit:hover {
	filter: drop-shadow(0px 4px 4px #0D606F);
}

/* section steps */
.steps__wraper {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100%;
	height: 247px;
	margin-bottom: 80px;
}

.steps__title {
	max-width: 611px;
	height: 53px;
	margin: 0 283px;
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 53px;
	color: #F2785C;
}

.steps__boxes {
	height: 194px;
	display: flex;
	align-items: flex-end;
}

.steps__box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 154px;
}

.steps__box-central {
	margin: 0px 160px 0px 231px;
}

.steps__text {
	padding: 0;
	margin: 0;
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #0D606F;
}

.steps__img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	background: url(..//img/jpg/background-ico.jpg);
}

/* section destinations */
.destinations__wraper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 170px;
}

.destinations__titile {
	max-width: 501px;
	height: 53px;
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 53px;
	color: #F2785C;
	margin: 19px 0px 45px 0px;
}

.destinations__countrys {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 60px;
	padding: 0px;

}

.destination__country-1 {
	width: 800px;
	height: 800px;
	border-radius: 16px;
	background: url(../img/jpg/sea.jpg);
}

.destination__country-2 {
	width: 800px;
	height: 800px;
	border-radius: 16px;
	background: url(../img/jpg/gate.jpg);
}

.destination__country-3 {
	width: 800px;
	height: 800px;
	border-radius: 16px;
	background: url(../img/jpg/bridge.jpg);
}



.destination__country-text {
	width: 95px;
	height: 42px;
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 42px;
	color: #FFFFFF;
	margin: 718px 677px 40px 15px;
}

.destinations__scroll {
	width: 80px;
	height: 20px;
	margin: 24px 680px 40px 680px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	padding: 0px;
	gap: 10px;
}



.destinations__submit {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 32px;
	gap: 10px;
	width: 228px;
	height: 59px;
	padding: 0px;
	background: #0D606F;
	box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
	border-radius: 10px;
	border: 0px;
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
	color: #FFFFFF;
}

.destinations__submit:hover {
	filter: drop-shadow(0px 4px 4px #0D606F);
}

/* section stories */
.stories {
	width: 100%;
	height: 1331px;
	background: url(../img/jpg/boat.jpg) no-repeat, center;
	background-size: cover;
}

.stories__background {
	width: 100%;
	height: 1270px;
	background: rgba(255, 255, 255, 0.7);
}

.stories__wraper {
	position: relative;
	bottom: 91px;
	left: 0px;
	width: 100%;
	height: 1322px;
}

.stories__title {
	width: 335px;
	height: 53px;
	margin: 0 auto;
	margin-bottom: 80px;
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 53px;
	color: #F2785C;
}

.stories__boxes {
	width: 100%;
	height: 1090px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	margin-bottom: 40px;
}


.stories__box {
	width: 100%;
	height: 250px;
	display: flex;
	justify-content: space-between;
}

.stories__box-img {
	width: 400px;
	height: 250px;
	border-radius: 16px;
	filter: drop-shadow(0px 4px 4px #0D606F);

}

.stories__box-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.stories__box-title {
	width: 760px;
	height: 42px;
	margin: 0px;
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 42px;
	color: #0D606F;
}


.stories__box-text {
	width: 760px;
	height: 184px;
	margin: 0 auto;
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #0D606F;
}


.stories__submit {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 10px 32px;
	gap: 10px;
	width: 228px;
	height: 59px;
	background: #0D606F;
	box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
	border-radius: 10px;
	border: 0px;
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
	color: #FFFFFF;
}

.stories__submit:hover {
	filter: drop-shadow(0px 4px 4px #0D606F);
}

/* footer */
.footer {
	position: absolute;
	bottom: 0px;
	left: 41%;
	width: 100%;
	height: 45px;
}

.footer__wraper {
	width: 728.96px;
	height: 33.65px;
	display: flex;
	align-items: center;
	gap: 45%;

}

.footer__icons {
	width: 140.96px;
	height: 33.65px;
	display: flex;
	gap: 20px;
	padding: 0px;
	list-style-type: none;
}

.footer__icon {
	width: 33.65px;
	height: 33.65px;
}

.footer__icon:hover {
	filter: drop-shadow(0px 4px 4px #0D606F);
}

.footer__text {
	width: 260px;
	height: 21px;
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #FFFFFF;
}

.stories__box-img-mobi {
	display: none;
}

.stories__box-text-mobi {
	display: none;
}

.header__item-mobi {
	display: none;
}

.header__burger-menu {
	display: none;
}

.header__mobi-logo {
	display: none;
}

.header__nav-close {
	display: none;
}

.destination__arrows {
	display: none;
}